.classpath
.project
.settings
target
*iml
*idea

legacy/gui/core/plugin/mapsui/war/
legacy/gui/core/plugin/userui/war/

legacy/gui/web/war/WEB-INF/classes/
legacy/gui/web/war/WEB-INF/deploy/
legacy/gui/web/war/WEB-INF/spatial-lib/
legacy/gui/web/war/geofence/

**/gwt-unitCache/
**/geofence_db/
**/nbproject/
**/nb-configuration.xml
.dbeaver
.flattened-pom.xml
.factorypath
